<div id="footer">
<div class="footer-info">
<p>&copy;2008-<script type="text/javascript">document.write((new Date()).getFullYear());</script> <a href="/">桑下居</a> ，通过 <a href="https://www.gnu.org/software/emacs/" target="_blank" rel="noopener noreferrer">Emacs</a>, <a href="https://orgmode.org" target="_blank" rel="noopener noreferrer">Org</a> Mode 构建。</p>
</div>
</div>
