<h2 id="discus">讨论/留言</h2>
<div id="comment">
<script src="//cdn.jsdelivr.net/npm/@waline/client"></script>
<div id="waline"></div>
  <script>
    Waline({
      el: '#waline',
      serverURL: 'https://waychan-0gyayi4x31085b44-1305081818.ap-shanghai.app.tcloudbase.com/waline',
    });
  </script>
</div>
